# Root gitignore for GoZone

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output directory of builder
dist/
target/
build/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/
*.tmp
*.bak

# Expo
frontend/.expo/
frontend/web-build/

# Native binaries
*.orig.*
*.jks
*.p8
*.mobileprovision

# Env / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
backend/src/main/resources/application-prod.properties
backend/src/main/resources/application-dev.properties
